.search {
    padding: 5px; /* Increased padding for better spacing */
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    background-color: #2c3e50;
    .szukamy {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #2c3e50; /* Updated background color */
      // padding: 15px; /* Adjusted padding */
      padding-top: 10px;
      margin:auto;
      border-radius: 10px; /* Added border radius for a smoother look */
      margin-bottom: 20px; /* Added margin for separation */
      
      form {
        display: flex;
        align-items: center;
        input[type="text"],
        select {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          outline: none;
          margin-right: 10px; /* Added margin for spacing */
          background-color: #fff; /* Added white background for input and select */
          width: 400px; /* Adjusted input width */
          
          &::placeholder {
            color: #999;
          }
        }
        
        button {
          padding: 10px 16px;
          background-color: #c47f0f; /* Updated button color */
          color: white;
          border: none;
          border-radius: 4px;
          font-size: 16px;
          cursor: pointer;
          outline: none;
          
          &:hover {
            background-color: #f39c12; /* Darker shade on hover */
          }
        }
      }
    }
    .znajdujemy{
      background-color: #2c3e50;

      .next{
        display: flex;
        margin-top: 0;
        .rating-section{
          h4{
            margin-bottom: 2px;
          }
        }
      }
    }
  }
  