@import '_colors.scss';
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.App {
  margin-top: 0;
  padding: 0;
  max-width: 100%;
  background-color: $background-color;

  nav {
    display: flex;
    margin-top: 0;
    align-items: center;
    font-size: 30px;
    background-color: $secondary-color;
    color: $background-color;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 15px;

    h1 {
      margin: 0;
    }

    a {
      --fill-color: #ecf0f1;
      position: relative;
      display: block;
      padding: 10px;
      font: 700 3rem Raleway, sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-text-stroke: 2px var(--fill-color);
      background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
      color: transparent;
      background-clip: text;
      transition: background-size 0.5s linear;

      &.active {
        font-weight: bold;
        color:#ecf0f1;
      }

      &:hover {
        background-size: 100%;
        color: $background-color; 
        transition: 1s;
      }
    }
  }

  main {
    width: 100%;
    margin: auto;
    .search {
      padding: 0;
      margin: 0;
      margin-top: 5px;
    }

    .pop {
      margin: auto;
      background-color: $background-color;
      padding: 20px;
      border-radius: 10px;

      button {
        background-color: $secondary-color;

        &:hover {
          background-color: $button-hover-color;
        }
      }
    }
  }
}

h1 {
  font: 700 3rem Raleway, sans-serif;
  text-transform: uppercase;
  color: $accent-color;
}
