@import '_colors.scss';
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
.search {
  position: relative;
  margin: auto;
  left:10em;
  top: 10%;
  width: 60em;
  height: min-content;
  
  .szukamy {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

    form {
      display: flex;
      align-items: center;

      input[type="text"] {
        font-family: 'Inconsolata', monospace;
        position: relative;
        width: 200px;
        height: 50px;
        outline: none;
        border: none;
        background: $secondary-color;
        color: white;
        text-shadow: 0 0 10px $secondary-color;
        padding: 0 20px;
        border-radius: 30px;
        box-shadow: 0 0 25px 0 $secondary-color,
                    0 20px 25px 0 rgba(0, 0, 0, 0.2);
        transition: all 1s;
        z-index: 5;
        font-weight: bolder;
        letter-spacing: 0.1em;
        
        &:hover {
          cursor: pointer;
        }

        &:focus {
          width: 300px;
          cursor: text;
        }

        &::placeholder {
          color: white;
          opacity: 0.5;
          font-weight: bolder;
        }
      }

      select {
        width: 180px;
        height: 50px;
        padding: 10px;
        background: #fff;
        color: $secondary-color;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        margin-left: 10px;
        transition: all 1s;
      }
    }
  }

  .znajdujemy {
    background-color: $background-color;

    .next {
      display: flex;
      margin-top: 0;

      .rating-section {
        h4 {
          margin-bottom: 2px;
        }
      }
    }
  }
}